body {
	margin: 0;
	padding: 0;

	font-family: Sans-Serif;
	font-size: 14px;
	color: #fff;
	background: #000;

	overflow: hidden;
}

#sidebar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 360px;
	overflow-y: auto;

	color: #111;
	background: #ccc;
}

	#sidebar .panel {
		padding: 0 10px;

		border-bottom: 1px solid #aaa;
	}

		#sidebar .panel h2 {

			font-size: 12px;
			font-weight: normal;
			text-transform: uppercase;
			color: #666;

			cursor: pointer;
		}

		#sidebar .panel h2:before {
			content: '- ';
			display: inline-block;
			width: 12px;
		}

		#sidebar .panel h2.collapsed:before {
			content: '+ ';
		}

			#sidebar .panel h2.collapsed ~ p,
			#sidebar .panel h2.collapsed ~ div {
				display: none;
			}

#textures img {
	width: 150px;
	margin: 0 10px 10px 0;
}

#image {
	margin-right: 360px;
}
#imaage img:only-child {
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}
